# Bot
DISCORD_TOKEN=TOKEN
COMMAND_PREFIX=!

# Logging
ENABLE_CONSOLE=true
ENABLE_FILE_LOGGING=true
LOGS_PATH=logs

# Channels
CHAT_CHANNEL=chat
MODERATOR_CHANNEL=moderators
TICKET_CHANNEL=issues
WELCOME_CHANNEL=welcome

# Roles
MODERATOR_ROLE=Moderator
TRUSTED_ROLE=Trusted

# Filtering
ENABLE_FILTERING=true
FILTERED_WORDS_DIR=data
FILTERED_WORDS_FILE=filtered-words.json

# AI
OLLAMA_MODEL=mistral

# Tickets
ENABLE_TICKETS=true
TICKET_DIRECTORY_PATH=tickets

# Persistence
BANNED_LIST_PATH=data
BANNED_LIST_FILE=bannedlist.json
SERVER_RULES_ID_PATH=data
SERVER_RULES_ID_FILE=server-rules-id.json
SERVER_STATS_PATH=data
SERVER_STATS_FILE=server-stats.json