DISCORD_TOKEN=[BOT-TOKEN-HERE]
COMMAND_PREFIX=!
ENABLE_CONSOLE=true
ENABLE_FILE_LOGGING=true
LOGS_PATH=logs
ENABLE_FILTERING=true
FILTERED_WORDS_DIR=data
OLLAMA_MODEL=mistral
ENABLE_TICKETS=true
TICKET_DIRECTORY_PATH=tickets