DISCORD_TOKEN=[BOT-TOKEN-HERE]
COMMAND_PREFIX=!
ENABLE_CONSOLE=true
ENABLE_FILE_LOGGING=true
LOGS_PATH=logs
ENABLE_FILTERING=true
FILTERED_WORDS_DIR=data
FILTERED_WORDS_FILE=filtered-words.json
OLLAMA_MODEL=mistral
ENABLE_TICKETS=true
TICKET_CHANNEL=issues
MODERATOR_CHANNEL=moderators
WELCOME_CHANNEL=welcome
CHAT_CHANNEL=chat
MODERATOR_ROLE=Moderator
TRUSTED_ROLE=Trusted
TICKET_DIRECTORY_PATH=tickets
SERVER_STATS_PATH=data
SERVER_STATS_FILE=server-stats.json
SERVER_RULES_ID_PATH=data
SERVER_RULES_ID_FILE=server-rules-id.json
BANNED_LIST_PATH=data
BANNED_LIST_FILE=bannedlist.json